.helperProfilePage{
    height: 70vh;
    overflow: scroll;

.helperProfileCardPage{
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding: 2%;
    border: 0.05px solid #00000080;
    border-radius: 5px;
    

    


    .imgHelper{
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        img{
            width: 100%;
            height: 100%;
            border-radius: 10%;
            object-fit: cover;
        }


    }
    .helperInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0  10px;
        h2{
            font-size: 20px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
        p{
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px;
        }

    }
    .priceTag{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        align-self: flex-end;
        margin: 0 10px;
        h2{
            font-size: 20px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
        span{
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px;
        }

    }
   


    

}
hr{
    width: 90%;
    margin: 10px auto;
}
.descriptionHelper{
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 2%;
    border: 0.05px solid #00000080;
    border-radius: 5px;
    h2{
        font-size: 20px;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 15px;
        font-weight: 300;
        margin: 5px 0px;
    }

}
.servicesOffered{
    width: 95%;
    margin: 20px auto;
    display: flex;
    
   justify-content: space-between;
    align-items: center;

    background-color: #F2F2F2;
    padding: 2%;
    border: 0.05px solid #00000080;
    border-radius: 5px;
    .iconContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FF97AC;
        width: 30%;
        padding: 5%;
        
        .fa{
            font-size: 30px;
            
            margin: 5px;
        }
       
    }
    .serviceBadge{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        
        
        
        h2{
            font-size: 20px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
        p{
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px;
        }
    }
   

}
//this section will be at the bottom of the page
.footerSection{
    width: 100%;
    height: 100px;
    background-color: #FF97AC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    button{
        width: 40%;
        height: 50px;
        background-color: #fff;
        
        border-radius: 5px;
        font-size: 20px;
        font-weight: 300;
        color: #FF97AC;
        transition: all 0.5s;
        &:hover{
            background-color: #F2F2F2;
            color: #000000;
            transform: translateY(-5px);
            
        }
        
    }
    
    



}

}