//fixed button at the bottom right
.loadingProfile{
    display: flex;
    height: 200px;
    width: 100%;
    .skel{
        width: 100%;
        height: 100%;
        background-color: #E5E5E5;
        border-radius: 10px;
        margin: 10px;
    }
}
.loadingGig{
    display: flex;
    height: 400px;
    width: 100%;
    flex-direction: column;
    .skel{
        width: 90%;
        height: 100px;
        background-color: #E5E5E5;
        border-radius: 10px;
        margin: 10px auto;
    }
}

.noGigs{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 30px;
        font-weight: 500;
        margin: 10px;
    }
    p{
        font-size: 15px;
        font-weight: 500;
        margin: 10px;
        text-align: center;
    }
    button{
        background-color: #FF6584;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        margin: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        &:hover{
            background-color: #E5E5E5;
            color: black;
        }
    }
}
//horizontal scroll with child size 200px
.locationAccess{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 30px;
        font-weight: 500;
        margin: 10px;
    }
    p{
        font-size: 15px;
        font-weight: 500;
        margin: 10px;
        text-align: center;
    }
    button{
        background-color: #FF6584;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        margin: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        &:hover{
            background-color: #E5E5E5;
            color: black;
        }
    }
}
.profilesContainer{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}


.loading{
    width: 90%;
    margin: 0 auto;
    height:20vh;
    i{
        font-size: 50px;
        color: #FF6584;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        animation: spin 2s linear infinite;
    }
    //animation for spinner
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
.fixedButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    
    .buttonFixed{
        
        background-color: #FF6584;
        border: none;
        border-radius: 40%;     
        margin: 5px;
        cursor: pointer;
        font-size: 30px;
        color: white;
        padding: 10px;
        box-shadow: 0px 0px 10px 0px #fff;
        
        transition: all 0.5s;
        &:hover{
            background-color: #E5E5E5;
            color: black;
        }
        &:active{
            background-color: greenyellow;
            color: white;
        }
    }

}
.loadMore{
    width: 98%;
    margin: 0 auto;
    
    background-color: #FF6584 !important;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    &:hover{
        background-color: #E5E5E5;
        color: black;
    }
}
.currentFeatureList{
   background-color: #FF6584;
   width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 2%;
    color: white;
    
    
    h4{
        margin: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    ul{
        margin: 10px;
        li{
            margin: 10px;
            font-size: 15px;
            font-weight: 500;
        }
    }
}
.fa-circle-o-notch{
    animation: spin 1s linear infinite;

}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}