.mainContainerSplashScreen{
    

    .topSection{
        padding: 5%;
       
            
        }
        .imageSection{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            
        }
        .textCarousel{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5%;
            h1{
                font-size: 1.5rem;
                font-weight: 600;
                color: black;
                text-align: center;
                margin: 2%;
                animation: opacity 0.5s linear ;
            }
            p{
                font-size: 1rem;
                font-weight: 400;
                color: black;
                text-align: center;
                margin: 2%;
                animation: opacity 0.5s linear;
                
            }
            @keyframes opacity{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            
                
            }

           
        }
        .btn{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            button{
                width: 100%;
                height: 50px;
                background-color: #FF6584;
                border: 1px solid #F5F5F5;
                color: white !important;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 600;
                color: black;
                text-align: center;
                margin: 2%;
                &:hover{
                    background-color: #F5F5F5;
                    border: 1px solid #F5F5F5;
                    color: black !important;
                }
            }
        }
        .privacyNotice{
            font-size: smaller;
            color: black;
            text-align: center;
            margin: 2%;
            
        }
    }

